
# **Scaling The Data**

The dataset is already download in .csv format

# **IMPORTING THE PACKAGE**

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# **Load the dataset**

In [2]:
df=pd.read_csv("/content/loan_prediction.csv")

In [3]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.shape

(614, 13)

# **Handle the Missing values**

In [5]:
#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# **Treating the Null Value**

We will fill the missing values in numeric data type using the mean value of that particular column and categorical data type using the most repeated value

In [6]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [7]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [8]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [9]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [10]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [11]:
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')

In [12]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [13]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [14]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])

In [15]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [16]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [17]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Now the null value is retreated

# **Handling Categorical Values**

In [18]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [19]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [20]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [21]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [22]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [23]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [28]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [25]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [26]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [29]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [30]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [31]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [32]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [33]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [34]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [35]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [36]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [37]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

# **Balancing The Dataset**

In [38]:
from imblearn.combine import SMOTETomek

In [39]:
smote = SMOTETomek(0.90)

In [40]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [41]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [42]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    353
0    310
Name: Loan_Status, dtype: int64

# **Scaling The Data**

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [45]:
x_bal = pd.DataFrame(x_bal)

In [46]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.778077,0.545395,-1.198958,-0.715650,0.617454,-0.332495,0.081224,-0.566005,-0.294094,0.283318,0.582575,1.369686
1,-1.772212,0.545395,0.834058,0.324867,0.617454,-0.332495,-0.123332,0.006313,-0.192108,0.283318,0.582575,-1.210149
2,-1.766348,0.545395,0.834058,-0.715650,0.617454,3.007566,-0.379107,-0.566005,-0.982498,0.283318,0.582575,1.369686
3,-1.760484,0.545395,0.834058,-0.715650,-1.619553,-0.332495,-0.446484,0.328907,-0.294094,0.283318,0.582575,1.369686
4,-1.754619,0.545395,-1.198958,-0.715650,0.617454,-0.332495,0.105622,-0.566005,-0.026381,0.283318,0.582575,1.369686

We will perform scaling only on the input values