# **Splitting Data Into Train And Test**

The dataset is already download in .csv format

# **IMPORTING THE PACKAGE**

In [2]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# **Load the dataset**

In [3]:
df=pd.read_csv("/content/loan_prediction.csv")

In [4]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
df.shape

(614, 13)

# **Handle the Missing values**

In [6]:
#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# **Treating the Null Value**

We will fill the missing values in numeric data type using the mean value of that particular column and categorical data type using the most repeated value

In [7]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [8]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [9]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [11]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

In [12]:
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])

In [13]:
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')

In [14]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [15]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [16]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])

In [17]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [18]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [19]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Now the null value is retreated

# **Handling Categorical Values**

In [20]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [21]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [22]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [23]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [24]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [25]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [26]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [27]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [28]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [29]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [30]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [31]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [32]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [33]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [34]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [35]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [36]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [37]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1

# **Balancing The Dataset**

In [38]:
from imblearn.combine import SMOTETomek

In [39]:
smote = SMOTETomek(0.90)

In [40]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [41]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [42]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    359
0    316
Name: Loan_Status, dtype: int64

# **Scaling The Data**

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [45]:
x_bal = pd.DataFrame(x_bal)

In [46]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.688131,0.513853,-1.206045,-0.697741,0.623610,-0.334703,0.062593,-0.581898,-0.324472,0.275694,0.603023,1.358457
1,-1.682345,0.513853,0.829156,0.358257,0.623610,-0.334703,-0.130149,-0.051192,-0.226636,0.275694,0.603023,-1.217269
2,-1.676559,0.513853,0.829156,-0.697741,0.623610,2.987720,-0.371153,-0.581898,-0.984866,0.275694,0.603023,1.358457
3,-1.670773,0.513853,0.829156,-0.697741,-1.603567,-0.334703,-0.434639,0.247946,-0.324472,0.275694,0.603023,1.358457
4,-1.664988,0.513853,-1.206045,-0.697741,0.623610,-0.334703,0.085582,-0.581898,-0.067652,0.275694,0.603023,1.358457

We will perform scaling only on the input values

# **Splitting Data Into Train And Test**

In [47]:
# splitting the data into training and testing set

from sklearn.model_selection import train_test_split

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [49]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(452, 12)
(452,)
(223, 12)
(223,)

In [50]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11
221,-0.183848,0.513853,0.829156,0.358257,0.623610,-0.334703,0.098218,0.913792,2.243727,0.275694,0.603023,1.358457
516,-0.768204,0.513853,0.829156,0.358257,-1.603567,-0.334703,-0.483814,-0.581898,-0.532374,0.084845,-1.658312,-1.217269
660,-0.143348,0.513853,-1.206045,-0.697741,0.623610,2.987720,0.765964,0.162780,0.311463,-1.298807,-1.658312,1.358457
527,0.336865,0.513853,0.829156,-0.697741,0.623610,-0.334703,-0.266561,0.812085,0.287004,-1.282903,-1.658312,-1.217269
84,-1.150060,0.513853,-1.206045,-0.697741,0.623610,-0.334703,-0.198659,-0.581898,-0.300013,0.275694,0.603023,0.070594
...,...,...,...,...,...,...,...,...,...,...,...,...
71,-1.236846,0.513853,0.829156,2.470253,0.623610,-0.334703,-0.345728,0.825810,0.409299,-0.678549,-1.658312,0.070594
106,-1.005418,0.513853,0.829156,-0.697741,0.623610,-0.334703,0.019812,0.171930,0.348152,0.275694,0.603023,-1.217269
270,0.151723,-1.946082,-1.206045,0.358257,0.623610,-0.334703,-0.288788,-0.581898,-0.422308,0.275694,0.603023,0.070594
435,1.303077,0.513853,0.829156,-0.697741,-1.603567,-0.334703,-0.359887,0.051571,-0.287783,0.275694,-1.658312,0.070594
102,-1.034346,-1.946082,-1.206045,0.358257,0.623610,2.987720,0.306489,-0.581898,-0.324472,0.275694,0.603023,0.070594

In [51]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11
396,1.036935,0.513853,0.829156,0.358257,-1.603567,-0.334703,-0.423982,-0.054008,-0.410078,-2.587035,-1.658312,-1.217269
302,0.388936,0.513853,0.829156,2.470253,0.623610,-0.334703,-0.041238,0.532655,0.653890,0.275694,0.603023,0.070594
673,-0.837632,0.513853,-1.206045,-0.697741,0.623610,-0.334703,1.471618,-0.581898,1.106382,0.275694,-1.658312,0.070594
541,-0.299562,0.513853,-1.206045,-0.697741,-1.603567,-0.334703,-0.497973,-0.581898,-0.887030,0.275694,-1.658312,1.358457
377,0.915435,0.513853,0.829156,1.414255,-1.603567,-0.334703,-0.476354,-0.140230,-0.263324,0.275694,-1.658312,-1.217269
...,...,...,...,...,...,...,...,...,...,...,...,...
482,1.690719,0.513853,0.829156,0.358257,0.623610,-0.334703,-0.403581,0.092746,-0.006504,0.275694,-1.658312,-1.217269
380,0.932792,0.513853,0.829156,-0.697741,0.623610,-0.334703,-0.449863,0.285954,-0.691357,-2.587035,-1.658312,-1.217269
9,-1.636059,0.513853,0.829156,0.358257,0.623610,-0.334703,1.127088,3.278038,2.476088,0.275694,0.603023,0.070594
22,-1.543488,0.513853,0.829156,-0.697741,0.623610,2.987720,0.627573,-0.581898,0.543824,0.275694,0.603023,0.070594
290,0.302151,0.513853,0.829156,1.414255,0.623610,-0.334703,-0.434639,0.238092,-0.263324,0.275694,0.603023,-1.217269

In [52]:
y_train

221    1
516    0
660    0
527    0
84     1
      ..
71     0
106    0
270    1
435    0
102    1
Name: Loan_Status, Length: 452, dtype: int64

In [53]:
y_test

396    0
302    1
673    0
541    0
377    0
      ..
482    0
380    1
9      0
22     1
290    1
Name: Loan_Status, Length: 223, dtype: int64